$gap: 15px;

.column {
    border-radius: 10px;
    background: #EBECF0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 282px;
    padding-bottom: 8px;
}

.title {
    margin-bottom: $gap;
    color: #000;
    font-size: 18px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.addCard {
    display: flex;
    align-items: center;
    margin-top: calc($gap + 2px);
    cursor: pointer;

    &Text {
        margin-left: 3px;
        line-height: 21px;
        color: #5E6C84;
    }
    
    &_disabled {
        cursor: none;
    }
}

.newCard {
    margin: $gap 0;
    display: flex;

    & > * {
        flex-grow: 1;
    }
}
